<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 2.0</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Vue 2.0</a>
        </div>
    </div>
</nav>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">欢迎来到Vue js 2.0系列</div>
                <div class="panel-body">

                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入日程" v-model="stuff">
                        </div>
                        <div class="form-group">
                            <button @click="addTodo" class="btn btn-success btn-block">添加日程</button>
                        </div>
                    </form>
                    <todo-items :items="todos" :title="todoTitle"></todo-items>
                    <todo-items :items="todos2" :title="todoTitle2"></todo-items>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="todo-items-template">
    <div>
        <h3>{{ title }}<small>{{ remaining }} / {{ total }}</small></h3>
        <ul class="list-group">
            <li v-for="todo in items" :class="{'completed': todo.completed}" class="list-group-item list-group-item-success">
                <button @click="completeTodo(todo)" :class="['btn', 'btn-xs', todo.completed ? 'btn-success' : 'btn-primary']">{{ statusText(todo) }}</button>
                {{ todo.title }}
                <button @click="deleteTodo(todo)" class="btn btn-xs btn-warning pull-right">删除</button>
            </li>
        </ul>
    </div>
</script>
<script src="./js/vue-2.0.js"></script>
<script>
    Vue.component('todo-items', {
        template: '#todo-items-template',
        props: ['items', 'title'],
        computed: {
            remaining: function(){
                return this.items.filter(function(item){
                    return !item.completed;
                }).length;
            },
            total: function(){
                return this.items.length;
            }
        },
        methods: {
            deleteTodo: function(item){
                this.items.splice(item, 1);
            },
            completeTodo: function(item){
                item.completed = !item.completed;
            },
            statusText: function(item){
                return item.completed ? '完成' : '待办';
            }
        }
    });

    var vue = new Vue({
        el: '#app',
        data: {
            todoTitle: '我的日程',
            todoTitle2: '我的日程2',
            stuff: '',
            todos: [
                {id:1, title:'学习Vue', completed:false},
                {id:2, title:'看球赛', completed:true}
            ],
            todos2: [
                {id:3, title:'学习Vue2', completed:false},
                {id:4, title:'看球赛2', completed:true}
            ]
        },
        methods: {
            addTodo: function(e){
                e.preventDefault();
                this.todos.push({id: null, title: this.stuff, completed: false});
                this.stuff = '';
            }
        }
    });
</script>
</body>
</html>