<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 2.0</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Vue 2.0</a>
        </div>
    </div>
</nav>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">欢迎来到Vue js 2.0系列</div>
                <div class="panel-body">
                    <h3>{{ message }} <small>{{ remainingTodoCount }} / {{ todoCount }}</small></h3>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入日程" v-model="stuff">
                        </div>
                        <div class="form-group">
                            <button @click="addTodo" class="btn btn-success btn-block">添加日程</button>
                        </div>
                    </form>
                    <ul class="list-group">
                        <li v-for="(todo, index) in todos" :class="{'completed': todo.completed}" class="list-group-item list-group-item-success">
                            <button @click="completeTodo(todo)" class="btn btn-xs" :class="{'btn-success': todo.completed, 'btn-primary': !todo.completed}">{{ statusText(todo) }}</button>
                            {{ todo.title }}
                            <button @click="deleteTodo(index)" class="btn btn-xs btn-warning pull-right">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/vue-2.0.js"></script>
<script>
var vue = new Vue({
    el: '#app',
    data: {
        message: '我的日程',
        stuff: '',
        todos: [
            {id:1, title:'学习Vue', completed:false},
            {id:2, title:'看球赛', completed:true}
        ]
    },
    computed: {
        remainingTodoCount: function(){
            return this.todos.length - 1;
        },
        todoCount: function(){
            return this.todos.length;
        }
    },
    methods: {
        addTodo: function(e){
            e.preventDefault();
            this.todos.push({id: null, title: this.stuff, completed: false});
            this.stuff = '';
        },
        deleteTodo: function(index){
            this.todos.splice(index, 1);
        },
        completeTodo: function(todo){
            todo.completed = !todo.completed;
        },
        statusText: function(todo){
            return todo.completed ? '完成' : '待办';
        }
    }
});
</script>
</body>
</html>