<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue 2.0</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Vue 2.0</a>
        </div>
    </div>
</nav>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">欢迎来到Vue js 2.0系列</div>
                <div class="panel-body">
                    <todo-form :items="todos"></todo-form>
                    <todo-items :items="todos" title="Vue 1.0学习"></todo-items>

                    <todo-form :items="todos2"></todo-form>
                    <todo-items :items="todos2" title="Vue 2.0学习"></todo-items>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="todo-items-template">
    <div>
        <h3>{{ title }}<small v-show="total" class="pull-right">{{ remaining }} / {{ total }}</small></h3>
        <pre v-show="!total">暂无数据</pre>
        <ul class="list-group">
            <li v-for="(todo, index) in items" :class="{'completed': todo.completed}" class="list-group-item list-group-item-success">
                <button @click="completeTodo(todo)" :class="['btn', 'btn-xs', todo.completed ? 'btn-success' : 'btn-primary']">{{ statusText(todo) }}</button>
                {{ todo.title }}
                <button @click="deleteTodo(index)" class="btn btn-xs btn-warning pull-right">删除</button>
            </li>
        </ul>
    </div>
</script>
<script type="text/x-template" id="todo-form-template">
    <form action="" @submit.prevent="addTodo(newTodo)">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入日程" v-model="newTodo.title">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">添加日程</button>
        </div>
    </form>
</script>
<script src="./js/vue-2.0.js"></script>
<script>
    Vue.component('todo-items', {
        template: '#todo-items-template',
        props: ['items', 'title'],
        computed: {
            remaining: function(){
                return this.items.filter(function(item){
                    return !item.completed;
                }).length;
            },
            total: function(){
                return this.items.length;
            }
        },
        methods: {
            deleteTodo: function(item){
                this.items.splice(item, 1);
            },
            completeTodo: function(item){
                item.completed = !item.completed;
            },
            statusText: function(item){
                return item.completed ? '完成' : '待办';
            }
        }
    });

    Vue.component('todo-form', {
        template: '#todo-form-template',
        props: ['items'],
        data: function(){
            return {
                newTodo: {id:null, title:'', completed:false}
            }
        },
        methods: {
            addTodo: function(item){
                if(item.title){
                    this.items.push(item);
                    this.newTodo = {id: null, title: '', completed:false};
                }
            }
        }
    });

    var vue = new Vue({
        el: '#app',
        data: {
            todos: [
                {id:1, title:'Vue 1.0 第一课', completed:false},
                {id:2, title:'Vue 1.0 第二课', completed:true}
            ],
            todos2: [
                {id:3, title:'Vue 2.0 第一课', completed:false},
                {id:4, title:'Vue 2.0 第二课', completed:true}
            ]
        }
    });
</script>
</body>
</html>